.arwBtn {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: .6rem 1.6rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
}

.arrow-right {
    margin-right: 10px;
}

.arrow-left {
    margin-left: 10px;
}

.arwText {
    margin-right: 10px;
}

a.arwText:hover {
    text-decoration: none !important;
}
