.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .label {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }
  
  .input[type="text"],
  .input[type="email"],
  .textarea {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color-2);
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

  .input[type="text"],
  .input[type="email"],
  textarea.textarea::placeholder {
    color: var(--text-color-2);
    font-size: 1.1rem;
}
  
  .input[type="text"],
  .input[type="email"] {
    height: 40px;
  }
  
  .textarea {
    height: 150px;
  }

  .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-2);
    height: 100%;
  }
  
  p .message {
    text-align: center;
    text-transform: uppercase;
  }
  
  