
.form {
  display: flex;
  flex-direction: column;
  font-family: "Questrial", sans-serif;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

label.required::after {
  content: "*";
  color: red;
  margin-left: 3px;
  z-index: -1;
}

/* CSS for the tooltip */
.tooltip {
  color: #fff;
}

.input[type="text"],
.input[type="email"],
.textarea {
  margin-bottom: 48px;
  padding: 2px 0;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, 0.3);
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  font-family: "Questrial", sans-serif;
}

.input[type="text"],
.input[type="email"],
.textarea::placeholder {
  color: var(--text-color);
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
}

.input[type="text"],
.input[type="email"]:focus {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  outline: none;
}

textarea.textarea:focus {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  outline: none;
}

.input[type="text"],
.input[type="email"] {
  height: 40px;
}

.textarea {
  height: 150px;
  resize: vertical;
}

.input[type="file"] {
  border: none;
  background-color: #464646;
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: var(--h6);
  color: var(--text-color-2);
}

.modal {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 30px;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  word-wrap: normal;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  animation: fadein 0.5s, fadeout 0.5s 14.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.modal.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.modal.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.modalHeading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modalContent {
  font-size: 10px;
  margin-bottom: 10px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 991px) {
  .label {
    font-size: 1rem;
  }
  .modal {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .form {
    width: 80vw;
  }
  .label {
    font-size: 1rem;
    line-height: 3.5vw;
    margin-bottom: .5rem;
  }

  .label.required::before {
    display: none;
  }

  .input[type="text"],
  .input[type="email"],
  .textarea {
    padding: 0;
  }
  .textarea {
    margin-top: .3rem;
  }

  .input[type="text"], .input[type="email"]::placeholder {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2px;
  }
  
  .textarea::placeholder {
    font-size: 1rem;
    font-weight: 500;
  }
  
}
